* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    max-height: 100vh;
}
.profile-img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 200px 1fr;
    height: 100%;
    width: 100%;
}

.header {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 30% 70%;
    padding: 16px 50px;
    box-shadow: 3px 1px 20px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.aside {
    background-color: #1992D4;
    grid-row: 1/3;
    padding: 1rem 1.5rem;
    z-index: 20;
}
.logo {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}
.aside ul {
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
}
.aside li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.aside li a {
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}
.aside h1 img {
 width: 3rem;
}
.aside img {
    width: 1.5rem;
    cursor: pointer;
}
.main {
    background-color: #E2E8F0;
    width: 100%;
    height: 100%;
}

.header .search-bar {
    display: flex;
    align-items: center;
}

.header .search-bar img {
    width: 1.6rem;
}

.header .search-bar input {
    width: 80%;
    margin-left: 20px;
    padding: 8px 17px;
    border-radius: 24px;
    border: none;
    background-color: #E2E8F0;
    cursor: pointer;
}

.header .search-bar input:focus {
    outline: none;
    border: solid 2px  rgb(27, 155, 214);
}
.header .profile-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.profile-options img {
    width: 1.6rem;
    cursor: pointer;
}
.profile-options .profile-img {
    width: 3.2rem;
    height: 3.2rem;
    
}
.profile-options .profile-img img {
    width: 100%;
}

.profile-options p {
    font-size: 1.2rem;
    font-weight: 900;
}
.header .more-options{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 22px;
}
.header .more-options div {
    padding: 10px 30px;
    background-color: #1992D4;
    border-radius: 24px;
    color: white;
    cursor: pointer;
}

.header .who-i-am {
    display: flex;
    align-items: center;
}


.header .who-i-am .text-aboutMe {
    padding: 0.4rem 1rem;
    font-weight: bold;
}

.who-i-am .text-aboutMe p {
    margin-top: 6px;
    font-size: 1.6rem;
    font-weight: 900;
    text-wrap: wrap;
}


.who-i-am .text-aboutMe p span {
    font-size: 1.3rem;
    font-weight: 900;
    text-wrap: wrap;
}



.main {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 50px 1fr; 
    padding-right: 20px;
    padding-left: 5px;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(3,1fr);
    grid-column: 1/2;
    gap: 25px;
}   
.container-card {
    padding: 15px;
}
.main > h3 {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
}
.main .container-card .card {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card * {
    padding-left: 12px;
}

.card-text {
    padding: 15px;
}

.card-text p {
    margin-top: 4px;
    font-size: 0.9rem;
    line-height: 1.5;
    color: rgb(85, 85, 85);
}

.card div:last-of-type {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.card div:last-of-type img{
    width: 37px;
    height: 37px;
    cursor: pointer;
    margin-right: 15px;
}

.color-deco {
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 8px;
    background-color: #F0B429;
}

.aside-right {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.aside-right h3 {
    padding-top: 30px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
}

.title-hate {
    grid-column: 2/3;
    grid-row: 1/2;
}
.container-hate {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 10px;
}

.container-hate div {
    padding: 10px 0;
}
.container-hate div:nth-child(2) {
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
}
.container-hate div h5 {
    font-size: 0.9rem;
}
.container-hate div p {
    font-size: 0.8rem;
    color: rgb(85, 85, 85);
    margin-top: 3px;
    line-height: 1.2;
}
.container-peopleLoved {
    background-color: #FFFFFF;
    border-radius: 10px;
}


.card-follow-people {
    display: flex;
    padding: 15px;
}
.card-follow-people div{
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.card-follow-people h5 {
    font-size: 0.9rem;
    color: rgb(61, 61, 61);
}

.card-follow-people p {
    font-size: 0.8rem;
    color: rgb(85, 85, 85);
    margin-top: 3px;
}
.card-follow-people img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}